@model ThinkPower.LabB3.Web.ViewModels.QuestionnaireDisplayViewModel
<div class="container">
    <div style="background-image:url(@Html.DisplayFor(model => Model.HeadBackgroundImg));width:auto;height:150px">
        <br />
        <br />
        <h1>@Html.DisplayFor(model => model.QuestionnaireName)</h1>
    </div>
</div>
<hr />
<div class="container alert-info">
    <div>
        <div>
            <p class="">@Html.DisplayFor(model => model.HeadDescription)</p>
        </div>
    </div>
</div>
<ul>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
</ul>
